.root{
	-fx-focus-color:#B8860B;
	-fx-faint-focus-color:#B8860B22;
	-fx-background-color: Goldenrod;	
}

.button{
	-fx-effect: dropshadow(gaussian, rgba(1, 2, 0.035), 5.0, 0.2, 1, 1);
}

.button:pressed{
	-fx-effect: null;
}

.message{
	-fx-text-fill: black;
	-fx-font-family: "ARIAL BLACK";
	-fx-font-size: 16.0;
	-fx-font-weight: normal;
	-fx-text-alignment: center;
	}
