.root{
	-fx-focus-color:#B8860B;
	-fx-faint-focus-color:#B8860B22;
	-fx-background-color: Lavender;	
}

.label{
	-fx-font-size: 40;
	-fx-font-family: "Hayashi-Serif";
}

.button{
	-fx-effect: dropshadow(gaussian, rgba(2, 0.035, 2), 5.0, 0.2, 1, 1);
}

.button:pressed{
	-fx-effect: null;
}

